
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    min-height: 800px;
}
.sayfa {
    width: 1650px;
    height: 1000px;
    padding: 20px;
    background-color:darkgray;
    position: relative;
    margin: auto;
}
.ustResim 
{
    margin-left: 2px;
    margin-right: 25px;

    background-repeat: no-repeat;

    background-image: url("images/banner.jpg");
    width: 1290px;
 height: 150px;
 
}
.solMenu{
    margin-top: 10px;
    margin-right: 10px;
    background-color:white;
    width:193px;
    height:500px;
    float:left;
}
ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size:20px;
}
ul.menu a {
    display: block;
    color: #1B1B1B;
    background-color: #E2E2E2;
    width:8em;
    padding: .2em .8em;
    text-decoration: none;
}
ul.menu a:hover
{
	background-color:lightblue;
}
.icerik {
    margin-left: 5px;
    margin-top:5px ;
    width:1070px;
    height:900px;
    float: left;

    background-color:white;

}
.renk
 {
     color:burlywood;
     text-align: center;
     
 }
.mail {
    margin-top: 5px;
    margin-right: 5px;

    width: 350px;
    height: 350px;
    background-color: white;
    float:right;

}

.genelbilgi
{
    font-family: cursive;

    text-align: center;
    font-size: 13px;
    margin-left: 50px;
    padding:5px;
    width: 900px;
    height: 500px;
}

.altalan 
{
    margin-top: 10px;
    text-align: center;
    width: 1650px;
    height: 50px;
    background-color:burlywood;
    position: relative;
    margin: auto;
}



