
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: justify;
    min-height: 800px;
}
.sayfa {
    width: 1650px;
    height: 2500px;
    padding: 20px;
    position: relative;
    margin: auto;
}
ul {
list-style-type: none;
padding-left: 0; }
.ustResim 
{
    margin-left: 2px;
    margin-right: 25px;

    background-repeat: no-repeat;
    background-image: url("images/banner.jpg");
    width: 1290px;
 height: 150px;
 
}
.solMenu{
    margin-top: 10px;
    margin-right: 10px;
    width:193px;
    height:500px;
    float:left;
}
ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size:20px;
}
ul.menu a {
    display: block;
    color: #1B1B1B;
    background-color: #E2E2E2;
    width:8em;
    padding: .2em .8em;
    text-decoration: none;
}
ul.menu a:hover
{
	background-color:lightblue;
}
.icerik {
    margin-left: 5px;
    margin-top:5px ;
    width:1070px;
    height:900px;
    float: left;

    background-color:white;

}
.renk
 {
     color:burlywood;
     text-align: center;
     
 }
.mail {
    margin-top: 5px;
    margin-right: 5px;
   background-color:rgb(235, 228, 173);
    width: 320px;
    height: 400px;
    background-color: white;
    float:right;

}

.genelbilgi
{
    font-family: cursive;

    text-align: center;
    font-size: 13px;
    margin-left: 50px;
    padding:5px;
    width: 900px;
    height: 500px;
}

.altalan 
{
    margin-top: 10px;
    text-align: center;
    width: 1650px;
    height: 50px;
    background-color:burlywood;
    position: relative;
}

* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
 
  .send
{
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
      }
.clear
{
  background-color:red;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

